@import url('https://fonts.googleapis.com/css?family=Lato:300');

html, body {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: black;
}

nav {
  position: relative;
  width: 100%;
  height: 100px;
  background-color: black;
  z-index: 101;
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 500px;
  height: auto;
  min-height: 60px;
}

.rd-tab, .tab-title {
  font-size: 24px;
  font-family: 'Lato', sans-serif;  
}