.rd-wrap
  position absolute
  margin 0
  width auto
  height auto
 
 .rd-tab-container
   position relative
   margin 0
   padding 0 
   -webkit-backface-visibility hidden
   -webkit-transform translate3d(0,0,0)
   transition all .4s ease

.rd-tab, .tab-title
   position relative
   display flex
   justify-content center
   align-items center
   list-style none
   text-align center
   color white
   font-size 24px
   border-bottom 1px solid darken(white, 15%)
   cursor pointer
   user-select none !important
   -webkit-backface-visibility hidden
   -webkit-transform translate3d(0,0,0)

.tab-title
  z-index 100

.rd-arrow
  position absolute
  top 0
  bottom 4px
  right 0
  width 0
  height 0
  width 12px
  height 12px
  margin auto
  margin-right 20px
  border-top 2px solid white
  border-right 2px solid white
  transform rotate(135deg)
  transition all .4s ease  
  &.rotate
    transform rotate(320deg)
    
