.rd-wrap
  position absolute
  margin 0
  width auto
  height auto
 
 .rd-tab-container
   position relative
   margin 0
   padding 0 
   transition all .4s ease
   -webkit-backface-visibility hidden
   -webkit-transform translate3d(0,0,0)
   transition all .4s ease

.rd-tab, .tab-title
   position relative
   display flex
   justify-content center
   align-items center
   list-style none
   text-align center
   color white
   font-size 24px
   font-family serif
   border-bottom 1px solid darken(white, 15%)
   cursor pointer
   user-select none !important
   -webkit-backface-visibility hidden
   -webkit-transform translate3d(0,0,0)

.tab-title
  z-index 100
