.rd-wrap
  position absolute
  margin 0
  width auto
  height auto
 
 .rd-tab-container
   margin 0
   padding 0
 
 .rd-tab
   display flex
   justify-content center
   align-items center
   list-style none
   text-align center
   color white
   border-bottom 1px solid darken(white, 15%)
   cursor pointer
   user-select none !important